*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

.section-one-container{
  width: 100%;
  background-color: #1f2937;
}

.content-width{
  width: 72%;
  margin: auto;
}

.nav-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-container h2{
  display: flex;
  color: #f9faf8;
  font-size: 24px;
  padding-top: 15px;
}

.nav-container ul{
  display: flex;
  padding-top: 20px;
  list-style: none;
}

.nav-container ul li{
  padding-left: 20px;
  color: lightgray;
}

.section-one-content{
  display: flex;
  justify-content: space-between;
  padding: 120px 0;
}

.section-one-content h1{
  font-size: 48px;
  font-weight: bolder;
  width: 100%;
  color: #f9faf8;
}

.content-left{
  display: flex;
  flex-wrap: wrap;
  width: 47%;

}

.content-left p{
  padding-top: 5px;
  color: lightgray;
}

.content-left a{
  text-decoration: none;
  margin-top: 10px;
  padding: 5px 30px;
  color: #fff;
  background-color: #3882f6;
  border-radius: 5px;
}

.content-right{
  display: flex;
  flex-wrap: wrap;
  width: 47%;
}

.img-holder{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgb(146, 139, 139);
}

.img-holder p{
  color: #fff;
  align-self: center;
}

.section-two-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #fff;
}

.section-two-head h1{
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: bolder;
  margin-top: 40px;
}

.section-two-content{
  display: flex;
  justify-content: space-around;
  margin: 0 100px;
  padding-bottom: 100px;
}

.boxes{
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  width: 160px;
  text-align: center;
}

.box{
  display: flex;
  margin-top: 30px; 
  width: 160px;
  height: 160px;
  border: 4px solid #3882f6;
  border-radius: 15px;
}

.boxes p{
  margin-top: 7px;
  color: rgb(114, 113, 113);
}

.section-three-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #e5e7eb;
  padding: 100px 0;
}

.quote{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 80%;
  margin: auto;
}

.quote p{
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
}

.name{
  display: flex;
  justify-self: flex-end;
}

.name p{
  font-size: 26px;
  font-style: normal;
  font-weight: bold;
}

.section-four-container{
  display: flex;
  padding: 100px 0;
}

.call-to-action{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 160px;
  background-color: #3882f6;
  border-radius: 15px;
}

.left-side{
  display: flex;
  flex-wrap: wrap;
  margin-left: 120px;
  width: 60%;
}

.left-side h3{
  color: white;
  font-size: 24px;
  margin-top: 50px;
  font-weight: bold;
}

.left-side p{
  margin-bottom: 50px;
  color: lightgray;
}

.right-side{
  display: flex;
  align-items: center;
  width: 30%;
}

.right-side a{
  text-decoration: none;
  color: #fff;
  padding: 5px 30px;
  margin-left: 30px;
  background-color: #3882f6;
  border: 2px solid white;
  border-radius: 5px;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  height: 100px;
  background-color: #1f2937;
}